<div class="">
  <img src="{{ section.settings.desktop_image | image_url }}" class="desktop">
  <img src="{{ section.settings.mobile_image | image_url }}" class="mobile">

  <div class="conntet">
      <h3>{{ section.settings.heading }}</h3>
      {{ section.settings.content }}
  </div>
</div>
{% schema %}
{
  "name": "Custom Overlay section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "label": "Heading",
      "id": "heading"
    },
    {
      "type": "richtext",
      "label": "Content",
      "id": "content"
    },
    {
      "type": "image_picker",
      "label": "Desktop Image",
      "id": "desktop_image"
    },
    {
      "type": "image_picker",
      "label": "Mobile Image",
      "id": "mobile_image"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Cutsom Overlay "
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}